*{
	box-sizing:border-box;
	font-family: Helvetica, Arial, Sans-Serif;
}

h1{
	text-align: center;
	margin:15px;
	padding:15px;
	font-size:1.75em;
}

section{
	border:3px solid black;
	margin:15px;	
	float:left;		
	position:relative;
}

h4{
	float:right;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	margin:0;
	padding:3px;
	font-size:1.25em;
	position:relative;

}

p{
	clear:right;
	padding:15px;	
}

.container{
	margin: 15px auto;
	display: flex;
}


#apphead{
	background-color: #00cd9d;
}

#mainhead{
	background-color: #00d1ff;
}

#desserthead{
	background-color: #ff7d1a;
}

#appetizers{
	background-color: #00d1ff;	
}

#mainCourse{
	background-color: #ff7d1a;	
}

#desserts{
	background-color: #00cd9d;
}

@media (min-width:993px) {
	.col-lg-4{
		width:32%;
	}

}

@media (min-width:768px) and (max-width:991px){
	.col-md-6{
		width:44%;
	}
	.container{
		display:block;			
	}
	section{
		margin:20px;
	}
	#desserts{
		width:92%;

	}

	#appetizers, #mainCourse{
		height: 25em;
	}

}

@media (max-width:767px) {
	.col-s-12{
		width:90%;
	}
	.container{
		display:block;
	}
	section{
		margin:30px;
	}
	
}
